version: '3.8'

services:
  sudoku-app:
    build:
      context: .
      dockerfile: Dockerfile
    container_name: sudoku
    ports:
      - '3000:3000'
    environment:
      - NODE_ENV=production
    restart: unless-stopped
    healthcheck:
      test:
        [
          'CMD',
          'wget',
          '--quiet',
          '--tries=1',
          '--spider',
          'http://localhost:3000',
        ]
      interval: 30s
      timeout: 3s
      retries: 3
      start_period: 5s
